/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  background: #ece9e7;
}
h1, h2, .title {
  font-family: "Letter Gothic Std", "letter-gothic-std", "source-code-pro", "Lucida sans", "Lucida Console", verdana, sans-serif;
}
p {
  font-family: "PT serif", gentium-book-basic, serif;
  font-size: 1rem;
}
